<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covidinfo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Covidinfo">

        <!--           MANAGE COVID-19 INFO PAGE -->
        <activity
            android:name=".ManageCovid19InfoPage"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddPositiveCasePage"
            android:exported="false"
            android:parentActivityName=".ManageCovid19InfoPage" />
        <activity
            android:name=".UpdateExistingCasePage"
            android:exported="false"
            android:parentActivityName=".ManageCovid19InfoPage" />
            <activity
                android:name=".PublishCovid19Info"
                android:exported="false"
                android:parentActivityName=".ManageCovid19InfoPage" />
        <!--           USER PAGE: COVID INFO & NOTIFICATION MESSAGE -->
        <activity
            android:name=".Covid19Information"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Covid19Info"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
